input {
  font-size: 14px;
  font-family: "Poppins";
  padding-left: 10px;
}

textarea {
  font-size: 14px;
  font-family: "Poppins";
  padding-left: 4px;
}

.form-personal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-section > input {
  height: 35px;
  border: none;
  border-radius: 8px;
}
